<div class="col-12 bg-theme login-parent">
  <div class="row">
    <div class="col-12 my-5 my-md-0 v-center text-white text-center">
      <h1 class="display-4 mb-4">
        Dwivedi Client Register
      </h1>
      <div class="row">
        <div
          class="col-10 offset-1 col-lg-4 offset-lg-4 col-md-6 offset-md-3 form-container px-5 py-5"
        >
          <img class="login-img" src="assets/crLogo.png">
          <form
            #loginForm="ngForm"
            class="loginform"
            (ngSubmit)="submitLogin(loginForm)"
            autocomplete="off"
          >
            <div class="form-group">
              <label for="userName">User Name</label>
              <input
                type="text"
                class="form-control"
                id="userName"
                name="userName"
                #uname="ngModel"
                [(ngModel)]="userName"
                placeholder="Enter Username"
                required
              />
              <small *ngIf="uname.invalid && uname.touched" class="form-text"
                >Please Enter Username.</small
              >
            </div>
            <div class="form-group">
              <label for="Password">Password</label>
              <input
                type="password"
                class="form-control"
                id="password"
                name="password"
                #pwd="ngModel"
                [(ngModel)]="password"
                placeholder="Enter Password"
                required
              />
              <small *ngIf="pwd.invalid && pwd.touched" class="form-text"
                >Please Enter Password.</small
              >
              <small *ngIf="wrongPass" class="form-text"
                >Invalid Credentials.</small
              >
            </div>
            <input
              type="submit"
              [disabled]="loginForm.invalid"
              value="Login"
              class="btn btn-metro"
              style="width: 120px;"
            />
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
