.login-parent {
  min-height: 100vh;
}

.form-container {
  border: 2px solid white;
}

input.form-control {
  background-color: transparent;
  border-color: white;
  border-radius: 0px;
  color: white;
}

input.form-control:focus {
  background-color: rgba(255, 255, 255, 0.3);
  color: white;
}

::placeholder {
  color: rgba(255, 255, 255, 0.5) !important;
}
